<a href="https://colab.research.google.com/github/rfaoktvian/AnalisisSentimenDebatCapres2024/blob/main/Analisis_Sentiman_Youtube_Debat_Capres_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import os
import csv
from googleapiclient.discovery import build

API_KEY = "AIzaSyCHKS3ew12wwrEg_JlSdoKzBazh51rkRCU"
VIDEO_ID = "7C_NdiZZduM"
MAX_COMMENTS = 4000


youtube = build("youtube", "v3", developerKey=API_KEY)

comments = []
next_page_token = None

while len(comments) < MAX_COMMENTS:

    request = youtube.commentThreads().list(
        part="snippet",
        videoId=VIDEO_ID,
        maxResults=100,
        pageToken=next_page_token,
        textFormat="plainText"
    )
    response = request.execute()

    for item in response.get("items", []):
        snippet = item["snippet"]["topLevelComment"]["snippet"]
        comment = {
            "comment_text": snippet["textDisplay"],
            "like_count": snippet["likeCount"],
            "reply_count": item["snippet"]["totalReplyCount"],
            "published_at": snippet["publishedAt"]
        }
        comments.append(comment)

        if len(comments) >= MAX_COMMENTS:
            break

    next_page_token = response.get("nextPageToken")
    if not next_page_token:
        break

print(f"Total komentar yang diambil: {len(comments)}")

output_file = "youtube_comments_debat_capres.csv"
with open(output_file, "w", newline="", encoding="utf-8") as f:
    writer = csv.DictWriter(f, fieldnames=comments[0].keys())
    writer.writeheader()
    writer.writerows(comments)

print(f"Berhasil menyimpan dataset ke {output_file}")

Total komentar yang diambil: 3475
Berhasil menyimpan dataset ke youtube_comments_debat_capres.csv

In [28]:
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_csv('youtube_comments_debat_capres.csv')
df.head(10)

,comment_text,like_count,reply_count,published_at
0,semua keinginan masyarakat adalah kejujuran da...,0,0,2026-01-25T18:26:20Z
1,semua keinginan masyarakat adalah kejujuran da...,0,0,2026-01-25T18:08:44Z
2,Saya siap berjuang demi rayat dan bangsa Indon...,0,0,2026-01-25T18:05:25Z
3,bagaimana pun tetap dukung Prabowo Subianto fa...,0,0,2026-01-19T12:36:21Z
4,Tiga tiga nya ngoceh gak jelas gak ada poin pe...,0,2,2026-01-16T04:46:37Z
5,Setelah nonton kembali ternyata kosong betul a...,3,0,2026-01-11T13:45:32Z
6,Ganjar ❤,0,0,2026-01-07T15:22:12Z
7,Hallo i'm from 2026,0,1,2026-01-06T12:04:34Z
8,Anies omon omon omong doang angin tidak punya KTP,0,0,2026-01-05T08:03:59Z
9,Ganjar punya rekan jejak e-KTP,0,0,2026-01-05T08:02:34Z

In [29]:
df['reply_count'].value_counts()

reply_count
0      3172
1       156
2        48
4        17
3        16
8         8
5         8
6         8
12        5
16        4
9         3
15        3
7         3
10        2
29        2
11        2
28        2
30        1
14        1
17        1
33        1
35        1
103       1
89        1
45        1
50        1
72        1
36        1
37        1
39        1
44        1
21        1
25        1
Name: count, dtype: int64

In [30]:
df.shape

(3475, 4)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475 entries, 0 to 3474
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   comment_text  3475 non-null   object
 1   like_count    3475 non-null   int64
 2   reply_count   3475 non-null   int64
 3   published_at  3475 non-null   object
dtypes: int64(2), object(2)
memory usage: 108.7+ KB

In [32]:
df.duplicated().sum()

np.int64(3)

In [33]:
# duplicated handling
clean_df = df.drop_duplicates()

In [34]:
clean_df.duplicated().sum()

np.int64(0)

In [35]:
clean_df.shape

(3472, 4)